@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Work+Sans:wght@900&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2 {
  --heading-font-size: clamp(4rem, 10vw, 5rem);
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
h1 {
  font-size: var(--heading-font-size);
  margin-top: 0.75em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: calc(var(--heading-font-size) * 0.75);
}

p {
  font-size: clamp(1.25rem, 4vw, 2.25rem);
}

nav {
  background-color: white;
  flex-direction: column;
  padding-block: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

nav ul,
nav li {
  display: flex;
}

nav li {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  list-style-type: none;
}

nav img {
  margin: 0 auto;
  max-height: 50px;
}
