#sport-dropdown {
  margin: 0 auto;
  width: 50%;
}
#sport-medal-race {
  margin-block: 2em;
}

#sport h2 {
  margin-top: 2em;
}

@media only screen and (min-width: 600px) {
  #height-and-width-histograms {
    display: flex;
  }

  #height-and-width-histograms .dash-graph {
    width: 50%;
  }
}
