#sport-dropdown {
  margin: 0 auto;
  width: 50%;
}

#sport h2 {
  margin-top: 4em;
}

#anatomy-svg {
  margin: 4rem;
}

#medals-svg {
  margin: 2rem auto 1rem auto;
  max-height: 50px;
}

@media only screen and (min-width: 600px) {
  #height-and-width-histograms {
    display: flex;
  }

  #height-and-width-histograms .dash-graph {
    width: 50%;
  }
}
